<a href="https://colab.research.google.com/github/Deviasari/eda-dataset/blob/main/Copy_of_DSF_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Mengimport library pandas untuk membaca dataset
import pandas as pd

# baca dataset csv menggunakan syntax pd.read_csv()
df = pd.read_csv('/content/admission_data.csv')

In [ ]:
df

,gre_score,toefl_score,univ_ranking,motiv_letter_strength,recommendation_strength,gpa,research_exp,admit_status
0,337.0,118.0,4.0,4.5,4.5,9.65,yes,1
1,324.0,107.0,4.0,4.0,4.5,8.87,yes,1
2,316.0,104.0,3.0,3.0,3.5,8.00,yes,1
3,322.0,110.0,3.0,3.5,2.5,8.67,yes,1
4,314.0,103.0,2.0,2.0,3.0,8.21,no,0
...,...,...,...,...,...,...,...,...
500,313.0,102.0,3.0,3.5,4.0,8.90,yes,1
501,328.0,108.0,4.0,4.5,4.0,9.18,yes,1
502,321.0,109.0,4.0,4.0,4.0,8.68,yes,0
503,325.0,106.0,3.0,3.5,4.0,8.40,yes,0
504,314.0,106.0,3.0,3.0,5.0,8.90,no,1

# 2. Ringkasan Data

`info()` : berguna untuk memahami dengan cepat struktur dan konten DataFrame, membantu dalam eksplorasi dan persiapan data.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gre_score                496 non-null    float64
 1   toefl_score              497 non-null    float64
 2   univ_ranking             498 non-null    float64
 3   motiv_letter_strength    503 non-null    float64
 4   recommendation_strength  499 non-null    float64
 5   gpa                      501 non-null    float64
 6   research_exp             505 non-null    object
 7   admit_status             505 non-null    int64
dtypes: float64(6), int64(1), object(1)
memory usage: 31.7+ KB

# 3. Mengecek Data yang Hilang (Missing Value)

In [ ]:
# mengecek missing value
df.isna().sum()

gre_score                  9
toefl_score                8
univ_ranking               7
motiv_letter_strength      2
recommendation_strength    6
gpa                        4
research_exp               0
admit_status               0
dtype: int64

jhuyhwfneugyfyjefn ncbej

**Observasi:**

Dari informasi yang kita dapatkan pada data terdapat beberapa data yang hilang pada kolom `gre_score`, `toefl_score`, `univ_ranking`, `motiv_letter_strength`, `recommendation_strength`, dan `gpa`

In [ ]:
# cek statiscial summary
df['research_exp'].describe()

count     505
unique      2
top       yes
freq      280
Name: research_exp, dtype: object

**Observasi:**
* Secara keseluruhan, nilai minimum dan maksimum masuk akal untuk setiap kolom
* _Mean ~ 50% (Median)_ di kolom `gre_score`, `toefl_score`, dan `gpa`, menunjukkan distribusi normal
* Kolom `admit_status` adalah kolom boolean/biner karena nilainya 0 atau 1, tidak perlu menyimpulkan kesimetrisannya. Hanya perlu memeriksa *balance level*
* `univ_ranking`, `motiv_letter_strength`, dan `recommendation_strength` adalah nilai-nilai diskrit dengan jumlah nilai unik yang tidak banyak, distribusi nilai perlu diperiksa kemudian.

In [ ]:
# Mengatasi missing value
for column in df.columns:
    if df[column].dtype == 'object':
        # Jika kolom bertipe object, isi dengan mode
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        # Jika kolom bertipe numerik, isi dengan mean
        df[column].fillna(df[column].mean(), inplace=True)

/tmp/ipython-input-17-3213337050.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)
/tmp/ipython-input-17-3213337050.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)

In [ ]:
# cek kembali missing value
df.isna().sum()

gre_score                  0
toefl_score                0
univ_ranking               0
motiv_letter_strength      0
recommendation_strength    0
gpa                        0
research_exp               0
admit_status               0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gre_score                505 non-null    float64
 1   toefl_score              505 non-null    float64
 2   univ_ranking             505 non-null    float64
 3   motiv_letter_strength    505 non-null    float64
 4   recommendation_strength  505 non-null    float64
 5   gpa                      505 non-null    float64
 6   research_exp             505 non-null    object
 7   admit_status             505 non-null    int64
dtypes: float64(6), int64(1), object(1)
memory usage: 31.7+ KB

# 4. Mengatasi Duplikat Data

In [ ]:
# Mengecek apakah ada duplicate di seluruh kolom
check_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {check_duplicate}")

Jumlah data yang duplikat = 5

In [ ]:
# Handling duplicate
df = df.drop_duplicates()

In [ ]:
# Mengecek duplicate setelah di-handle
handle_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {handle_duplicate}")

Jumlah data yang duplikat = 0

```
Yeayyy!!! Kita berhasil mengatasi duplikat data ðŸ˜€
```

# **5. Create Your Portfolio**

Rincian Tugas:
1. Carilah sebuah dataset (dari kaggle ataupun website lainnya)
2. Lakukan Exploratory Data Analysis pada dataset tersebut.
  - EDA yang dilakukan WAJIB melakukan `Handling Missing Value dan Duplicate`
  - Proses EDA yang lain bersifat opsional (e.g. *handling outlier*, *encoding*)
3. Buat portfolio dalam bentuk Power Point
4. Upload di LinkedIn dan tag dibimbing.id

**Membaca Dataset**

In [25]:
# Mengimport library pandas untuk membaca dataset
import pandas as pd

# baca dataset csv menggunakan syntax pd.read_csv()
df = pd.read_csv('/content/tugas_dev.csv')

In [26]:
df

,Date,M2_Money_Supply,10Y Treasury Yield,Fed Funds Rate,CPI,Inflation_Rate_%,SOFR
0,2018-04-03,13993.9,2.87,1.69,250.227,2.470996,1.83
1,2018-04-04,13993.9,2.87,1.69,250.227,2.470996,1.74
2,2018-04-05,13993.9,2.87,1.69,250.227,2.470996,1.75
3,2018-04-06,13993.9,2.87,1.69,250.227,2.470996,1.75
4,2018-04-09,13993.9,2.87,1.69,250.227,2.470996,1.75
...,...,...,...,...,...,...,...
1885,2025-06-24,21942.0,4.42,4.33,320.580,2.375934,4.30
1886,2025-06-25,21942.0,4.42,4.33,320.580,2.375934,4.36
1887,2025-06-26,21942.0,4.42,4.33,320.580,2.375934,4.40
1888,2025-06-27,21942.0,4.42,4.33,320.580,2.375934,4.40
1889,2025-06-28,21942.0,4.42,4.33,320.580,2.375934,4.40

**Ringkasan Data**

info() : berguna untuk memahami dengan cepat struktur dan konten DataFrame, membantu dalam eksplorasi dan persiapan data

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1890 non-null   object
 1   M2_Money_Supply     1890 non-null   float64
 2   10Y Treasury Yield  1890 non-null   float64
 3   Fed Funds Rate      1890 non-null   float64
 4   CPI                 1890 non-null   float64
 5   Inflation_Rate_%    1890 non-null   float64
 6   SOFR                1809 non-null   float64
dtypes: float64(6), object(1)
memory usage: 103.5+ KB

**Mengecek Data yang Hilang (*Missing Value*)**

In [28]:
# Mengecek missing value
df.isna().sum()

Date                   0
M2_Money_Supply        0
10Y Treasury Yield     0
Fed Funds Rate         0
CPI                    0
Inflation_Rate_%       0
SOFR                  81
dtype: int64

**Observasi:**

Berdasarkan informasi yang diperoleh ditemukan data yang hilang pada kolom **SOFR**

In [29]:
# cek statistical summary
df.describe()

,M2_Money_Supply,10Y Treasury Yield,Fed Funds Rate,CPI,Inflation_Rate_%,SOFR
count,1890.000000,1890.000000,1890.000000,1890.000000,1890.000000,1809.000000
mean,19039.955926,2.761429,2.496709,282.100917,3.586763,2.484588
std,2860.222901,1.265754,2.001706,24.839167,2.259300,2.012879
min,13993.900000,0.620000,0.050000,250.227000,0.198201,0.010000
25%,15416.800000,1.620000,0.100000,257.155000,2.000583,0.090000
50%,20720.600000,2.890000,2.200000,278.824000,2.814270,2.220000
75%,21317.400000,3.980000,4.570000,307.374000,4.946947,4.550000
max,21942.000000,4.800000,5.330000,320.580000,8.999298,5.400000

In [44]:
# cek statistical summary
df['Date'].describe()

count           1890
unique          1890
top       2025-06-28
freq               1
Name: Date, dtype: object

**Observasi:**


*   Berdasarkan data menunjukkan bahwa jumlah uang beredar terus meningkat dari sekitar 13.993 miliar USD ke lebih dari 21.942 miliar USD
*   Nilai median (20.720,60) lebih tinggi daripada rata-rata (19.039,96), yang menunjukkan bahwa distribusi data mungkin condong ke kiri. Artinya, ada data lama yang lebih rendah yang menarik rata-rata turun
*   Dengan simpangan baku sebesar 2.860,22, ada fluktuasi sedang hingga tinggi dalam jumlah uang beredar. Ini dapat mencerminkan respons kebijakan moneter terhadap kondisi ekonomi global

In [38]:
# Mengatasi missing value
for column in df.columns:
    if df[column].dtype == 'object':
        # Jika kolom bertipe object, isi dengan mode
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        # Jika kolom bertipe numerik, isi dengan mean
        df[column].fillna(df[column].mean(), inplace=True)

/tmp/ipython-input-38-3213337050.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)
/tmp/ipython-input-38-3213337050.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

In [39]:
# cek kembali missing value
df.isna().sum()

Date                  0
M2_Money_Supply       0
10Y Treasury Yield    0
Fed Funds Rate        0
CPI                   0
Inflation_Rate_%      0
SOFR                  0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1890 non-null   object
 1   M2_Money_Supply     1890 non-null   float64
 2   10Y Treasury Yield  1890 non-null   float64
 3   Fed Funds Rate      1890 non-null   float64
 4   CPI                 1890 non-null   float64
 5   Inflation_Rate_%    1890 non-null   float64
 6   SOFR                1890 non-null   float64
dtypes: float64(6), object(1)
memory usage: 103.5+ KB

**Mengatasi Duplikat Data**

In [41]:
# Mengecek apakah ada duplicate di seluruh kolom
check_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {check_duplicate}")

Jumlah data yang duplikat = 0

In [42]:
# Handling duplicate
df = df.drop_duplicates()

In [43]:
# Mengecek duplicate setelah di-handle
handle_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {handle_duplicate}")

Jumlah data yang duplikat = 0